Repository Workfront/workfront-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

chore: update package name to "@workfront/workfront-api"
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
Due: prettier --write

fix: bundle name is wrong
  rollup.config.js
Due: prettier --write

fix: bundle name is wrong (#1484)
  rollup.config.js
Due: prettier --write

Added IMS token support to workfront-api
  src/Api.ts
  test/Api.spec.ts
Due: npm run lint:fix, prettier --write

Added IMS token support to workfront-api (#1485)
  src/Api.ts
  test/Api.spec.ts
Due: npm run lint:fix, prettier --write

ci: add registry config
  .npmrc
  package.json
Due: none

ci: add registry config (#1486)
  .npmrc
  package.json
Due: none

Path conditions:
  npm run lint:fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,css,md})
