Repository Workfront/workfront-api: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx}": ["npm run lint:fix", "prettier --write"],
    "*.{js,jsx,css,md}": ["prettier --write"]
}

chore(deps): update dependency rollup to v2.39.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typedoc to v0.20.28
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.39.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.41.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.44.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.49.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typedoc to v0.20.36
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.41.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: none

chore(deps): update dependency codecov to v3.8.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typedoc to v0.20.32
  package.json
  yarn.lock
Due: none

chore(deps): update dependency karma-sauce-launcher to v4.3.6
  package.json
  yarn.lock
Due: none

chore(deps): update dependency karma-rollup-preprocessor to v7.0.7
  package.json
  yarn.lock
Due: none

test: import Api from the source for coverage reporter
  test/integration/batch.spec.ts
  test/integration/copy.spec.ts
  test/integration/count.spec.ts
  test/integration/create.spec.ts
  test/integration/edit.spec.ts
  test/integration/editUsingGet.spec.ts
  test/integration/execute.spec.ts
  test/integration/get.spec.ts
  test/integration/getApiKey.spec.ts
  test/integration/login.spec.ts
  test/integration/logout.spec.ts
  test/integration/metadata.spec.ts
  test/integration/namedQuery.spec.ts
  test/integration/remove.spec.ts
  test/integration/report.spec.ts
  test/integration/search.spec.ts
Due: npm run lint:fix, prettier --write

docs: replace travis badge with Github workflows
  README.md
Due: prettier --write

chore: fix failing tests
  karma.conf.js
  test/Api.spec.ts
  test/integration/batch.spec.ts
  test/integration/copy.spec.ts
  test/integration/count.spec.ts
  test/integration/create.spec.ts
  test/integration/edit.spec.ts
  test/integration/editUsingGet.spec.ts
  test/integration/execute.spec.ts
  test/integration/get.spec.ts
  test/integration/getApiKey.spec.ts
  test/integration/login.spec.ts
  test/integration/logout.spec.ts
  test/integration/metadata.spec.ts
  test/integration/namedQuery.spec.ts
  test/integration/remove.spec.ts
  test/integration/report.spec.ts
  test/integration/search.spec.ts
Due: npm run lint:fix, prettier --write

ci: using Github workflow actions
  .github/workflows/main.yml
  karma.conf.js
Due: prettier --write

test: improve karma config, use browser ChromeHeadless
  karma.conf.js
  package.json
  yarn.lock
Due: prettier --write

ci: use Github Actions over TravisCI
  .github/workflows/main.yml
  .travis.yml
  karma.conf.js
  package.json
  yarn.lock
Due: prettier --write

fix: revert mocha tests
  test/Api.spec.ts
Due: npm run lint:fix, prettier --write

chore(docs): fix docs example for NodeJS
  README.md
Due: prettier --write

chore(deps): update dependency typescript to v4.1.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v17.1.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v11.2.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency mocha to v8.4.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency prettier to v2.3.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency husky to v6
  package.json
  yarn.lock
Due: none

ci: do not test under Node 10, it's out of support
  .github/workflows/main.yml
Due: none

chore(deps): update dependency typescript to v4.3.3
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.52.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-typescript to v8.2.1
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v19
  package.json
  yarn.lock
Due: none

chore(deps): update dependency ts-node to v10
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @types/node to v14
  package.json
  yarn.lock
Due: none

chore(deps): update dependency mocha to v9
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-node-resolve to v13
  package.json
  yarn.lock
Due: none

fix(deps): update dependency form-data to v4
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/mocha to v8.2.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typedoc to v0.20.37
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typescript to v4.3.4
  package.json
  yarn.lock
Due: none
