Repository Workfront/workfront-api: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx}": ["tslint --fix", "prettier --write"],
    "*.{js,jsx,css,md}": ["prettier --write"]
}

chore(deps): update dependency typedoc to v0.20.32
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.41.5
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.44.0
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @types/node to ^12.12.35
  package.json
  yarn.lock
Due: none

fix(deps): update dependency @types/node to ^12.20.10
  package.json
  yarn.lock
Due: none

fix(deps): update dependency tslib to v2.2.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency @rollup/plugin-commonjs to v18
  package.json
  yarn.lock
Due: none

chore(deps): update dependency lint-staged to v11
  package.json
  yarn.lock
Due: none

chore(deps): update dependency rollup to v2.49.0
  package.json
  yarn.lock
Due: none

chore(deps): update dependency codecov to v3.8.2
  package.json
  yarn.lock
Due: none

chore(deps): update dependency typedoc to v0.20.36
  package.json
  yarn.lock
Due: none

generate new encrypted SAUCE_ACCESS_KEY and SAUCE_USERNAME
  .travis.yml
Due: none

fix #103: All response from server should be in JSON format
  src/Api.ts
Due: tslint --fix, prettier --write

chore: remove package-lock.json from .gitignore
  .gitignore
Due: none

fix: preserving backward compatibility breaking: version is set to internal if omitted
  src/Api.ts
  test/Api.spec.js
  test/Api.spec.ts
  test/integration/copy.spec.ts
  test/integration/count.spec.ts
  test/integration/create.spec.ts
  test/integration/edit.spec.ts
  test/integration/editUsingGet.spec.ts
  test/integration/execute.spec.ts
  test/integration/get.spec.ts
  test/integration/login.spec.ts
  test/integration/logout.spec.ts
  test/integration/metadata.spec.ts
  test/integration/namedQuery.spec.ts
  test/integration/remove.spec.ts
  test/integration/report.spec.ts
  test/integration/search.spec.ts
Due: tslint --fix, prettier --write

fix: cloning params forgets about its instance, failing upload file test
  src/Api.ts
Due: tslint --fix, prettier --write

fix: update examples api version to >v5.0
  examples/node/call-assignUserToken-action-for-given-user.js
  examples/node/create-and-remove-template.js
  examples/node/create-edit-delete-group-pc.js
  examples/node/create-edit-delete-group.js
  examples/node/create-new-project-and-share.js
  examples/node/create-new-project.js
  examples/node/create-project-copy.js
  examples/node/delete-projects-by-name.js
  examples/node/get-metadata.js
  examples/node/get-multiple-tasks.js
  examples/node/get-project-details.js
  examples/node/get-task-metadata.js
  examples/node/get-user-count.js
  examples/node/login.js
  examples/node/logout.js
  examples/node/named-query.js
  examples/node/report-project-hours.js
  examples/node/search-for-projects.js
  examples/node/upload-an-image.js
Due: prettier --write

chore: add E2E tests `npm run e2e` connects to http://localhost:8080, creates a customer and runs multiple API scenarios
  package.json
  test/e2e.test.js
Due: prettier --write

fix: request gets JSON as body When an object is created or edited the payload can be either an object or an object with `updates` property
  src/Api.ts
  test/integration/copy.spec.ts
  test/integration/create.spec.ts
  test/integration/edit.spec.ts
  test/integration/editUsingGet.spec.ts
  test/integration/execute.spec.ts
  test/integration/getApiKey.spec.ts
  test/integration/login.spec.ts
Due: tslint --fix, prettier --write

fix: make send JSON body optional
  src/Api.ts
Due: tslint --fix, prettier --write

4.0.0-0
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/_api_.api.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

4.0.0
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/_api_.api.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

docs: add .nojekyll file to render Github pages as it is
  docs/.nojekyll
  package.json
Due: none

fix: typings dependency for Node
  package.json
Due: none

4.1.0
  CHANGELOG.md
  docs/classes/_api_.api.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

feat: ability to pass options with the copy api method
  src/Api.ts
  test/Api.spec.ts
  test/e2e.test.js
  test/integration/copy.spec.ts
Due: tslint --fix, prettier --write

4.1.1
  CHANGELOG.md
  docs/classes/_api_.api.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

4.2.0
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/_api_.api.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

feat: export ResponseHandler helper to use from outside of workfront-api
  src/Api.ts
Due: tslint --fix, prettier --write

augment saucelabs idle timeout
  karma.conf.js
Due: prettier --write

remove connectOptions
  karma.conf.js
Due: prettier --write

if connect fails retry one more time
  karma.conf.js
Due: prettier --write

augment timeout durations
  karma.conf.js
Due: prettier --write

4.3.0
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/_api_.api.html
  docs/interfaces/_api_.iapiconfig.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

feat: add support of passing custom headers
  src/Api.ts
Due: tslint --fix, prettier --write

typings: fix headers key-value type
  src/Api.ts
Due: tslint --fix, prettier --write

chore: @types/should no longer needed
  package.json
Due: none

feat: ability to send Search query params in HTTP POST feat: encode array values in params as id=foo&id=bar instead of id=foo,bar
  src/Api.ts
  test/Api.spec.ts
  test/integration/get.spec.ts
Due: tslint --fix, prettier --write

4.4.0
  CHANGELOG.md
  docs/classes/_api_.api.html
  docs/interfaces/_api_.iapiconfig.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

chore: fix breaking change of should
  test/Api.spec.ts
  test/integration/copy.spec.ts
  test/integration/count.spec.ts
  test/integration/create.spec.ts
  test/integration/edit.spec.ts
  test/integration/editUsingGet.spec.ts
  test/integration/execute.spec.ts
  test/integration/get.spec.ts
  test/integration/getApiKey.spec.ts
  test/integration/login.spec.ts
  test/integration/logout.spec.ts
  test/integration/metadata.spec.ts
  test/integration/namedQuery.spec.ts
  test/integration/remove.spec.ts
  test/integration/report.spec.ts
  test/integration/search.spec.ts
Due: tslint --fix, prettier --write
