Repository Workfront/workfront-api: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --fix, prettier --write

.lintstagedrc.json:

{
    "*.{ts,tsx}": ["tslint --fix", "prettier --write"],
    "*.{js,jsx,css,md}": ["prettier --write"]
}

feat: added `editMultiple` method
  src/Api.ts
Due: tslint --fix, prettier --write

chore: update @types/node dependency range
  package.json
Due: none

chore: downgrade typedoc to generate docs without warnings
  package.json
Due: none

chore: update dependencies
  package.json
Due: none

chore: downgrade mocha
  package.json
Due: none

4.5.0
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/_api_.api.html
  docs/interfaces/_api_.iapiconfig.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

feat: add ability to send 'X-XSRF-TOKEN' header in requests
  src/Api.ts
Due: tslint --fix, prettier --write

4.6.0
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/_api_.api.html
  docs/index.html
  docs/interfaces/_api_.iapiconfig.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

chore: upgrade packages typescript@2.7.2 ts-loader@3.5.0
  package.json
  tsconfig.json
Due: none

feat: make `isAtomic` parameter for `batch()` method optional
  src/Api.ts
Due: tslint --fix, prettier --write

chore: add tests
  test/integration/batch.spec.ts
Due: tslint --fix, prettier --write

chore: update comment
  src/Api.ts
Due: tslint --fix, prettier --write

feat: add `batch()` method
  src/Api.ts
Due: tslint --fix, prettier --write

chore: fix test
  test/Api.spec.ts
Due: tslint --fix, prettier --write

4.8.0
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/_api_.api.html
  docs/interfaces/_api_.iapiconfig.html
  docs/interfaces/_api_.ibatchapi.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

4.7.0
  CHANGELOG.md
  docs/assets/js/search.js
  docs/classes/_api_.api.html
  docs/interfaces/_api_.iapiconfig.html
  docs/interfaces/_api_.ihttpoptions.html
  docs/modules/_api_.html
  package.json
Due: prettier --write

feat: add `fields` parameter to metadata() method
  src/Api.ts
Due: tslint --fix, prettier --write

refactor: remove unneeded checks
  src/Api.ts
Due: tslint --fix, prettier --write

chore: remove comment
  src/Api.ts
Due: tslint --fix, prettier --write

chore: upgrade dependencies
  .prettierignore
  .prettierrc
  package.json
Due: none

chore: remove Node 4 from the build matrix, add Node 10
  .travis.yml
Due: none

chore: prettier and linter fixes
  CHANGELOG.md
  README.md
  package.json
  src/Api.ts
  test/Api.spec.ts
  test/e2e.test.js
  test/test-bundle.js
  tslint.json
Due: tslint --fix, prettier --write

chore: upgrade should and codecov
  package.json
  tsconfig.json
Due: none

chore: attempt to fix soucelabs errors
  webpack.config.js
Due: prettier --write

chore: remove IE9 from soucelabs browser list
  karma.conf.js
Due: prettier --write

refactor: use ES6 construct instead of object-assign
  package.json
  src/Api.ts
  tslint.json
  webpack.config.js
Due: tslint --fix, prettier --write

chore: upgrade fetch-mock
  fixtures/batch.json
  package.json
  test/integration/batch.spec.ts
Due: tslint --fix, prettier --write

chore(deps): update dependency webpack-cli to v3.0.3
  package.json
Due: none

chore(deps): update dependency webpack to v4.12.0
  package.json
Due: none

chore(deps): update dependency ts-loader to v4.4.0
  package.json
Due: none

Update renovate.json
  renovate.json
Due: none

chore(deps): pin dependencies
  package.json
Due: none

chore(deps): update dependency webpack to v4.11.0
  package.json
Due: none

chore(deps): update dependency webpack to v4.11.1
  package.json
Due: none

Add renovate.json
  renovate.json
Due: none

chore(deps): update dependency webpack-cli to v3.0.2
  package.json
Due: none

chore(deps): update dependency webpack-cli to v3.0.4
  package.json
Due: none

chore(deps): update dependency lint-staged to v7.2.0
  package.json
Due: none

chore(deps): update dependency fetch-mock to v6.4.4
  package.json
Due: none

chore(deps): update dependency prettier to v1.13.5
  package.json
Due: none
